---
import Header from '../components/header/header.vue'
import InvidiousVideoBackground from '../components/invidious-background-video/invidious-video-background.vue';
import 'highlight.js/styles/vs2015.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
    <script>
      // using turbo for SPA like behavior
      import * as turbo from '@hotwired/turbo'
      turbo.start()
      const beforeRender = (ev : any) => {
        document.removeEventListener('turbo:before-render', beforeRender)
        document.title = ev.detail.newBody.querySelector('main').getAttribute('data-title')
      }
      document.addEventListener('turbo:load', () => {
        document.addEventListener('turbo:before-render', beforeRender)
      })
    </script>
    <title >{title}</title>
	</head>
	<body>
    <InvidiousVideoBackground client:load videoId='XvtpXPbbiVA' itag='134' />
    <turbo-frame id="main" data-turbo-action="advance" data-autoscroll-behavior="start" >
      <Header />
      <main data-title={title} style='width:1000px;max-width:100%;margin-left:auto;margin-right:auto;'>
        <slot />
      </main>
    </turbo-frame>
	</body>
</html>
<style is:global>
  body {
    background-image: url(/src/images/stars.png);
    background-attachment: fixed;
    background-size: 320px;
    /* Firefox */
    image-rendering: crisp-edges;
    /* Chromium + Safari */
    image-rendering: pixelated;
  }

  body img, body span {
    image-rendering: initial;
  }

  .drink-coffee-sign-2 {
    width: 128px;
    image-rendering: pixelated;
    position: absolute;
    right: 0;
    bottom: -14px;
  }

  @media(prefers-color-scheme: dark) {
    body {
      background-color: black;
    }
  }
  /* styles for content-card ; for some reason turbo can't find them if they are in the component 😢*/
  .outer-grid {
      display: flex;
  }

  .image-grid {
      min-width: 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
  }

  .image-grid img {
      max-height: 153px;
      display: inline-block;
  }
  @media (max-width: 768px) {
      .outer-grid {
          display: block;
      }
  }
  pre > div {
    margin-bottom: -30px;
    background-color: black;
    color: white;
    padding: 15px 10px;
    white-space: break-spaces;
  }
</style>
